# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Micromamba / Conda
.conda/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/
